# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* commonly used libraries used by Data Scientists
* Data Science Tools
* Demonstrate basic arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. NumPy
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
 -------------------
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python
* Addition: 2 + 3 results in 5 
* Subtraction: 5 - 2 results in 3 
* Multiplication: 3 * 4 results in 12 
* Division: 8 / 2 results in 4

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Paturu Vinay Kumar Reddy